[dir] .mh-container.svelte-r3xe8j.svelte-r3xe8j {
    margin: 0 auto;
    padding: 0 15px;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    svg:not(:root) {
        overflow: hidden;
    }
